@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

:root{
    --primary-color: #3B82F6
    ;
    --off-white: #f3f4f6;
    --dark-gray: #6b7280;
}

/* Links  */
.list-item-inline{
    display: inline;
    margin: 2rem;
}

.list-item-inline a{
    text-decoration: none;
    color: white;
}

.list-non-bullet{
    list-style: none;
}

/* Navbar  */
.nav{
    background-color: var(--primary-color);
    border-bottom-left-radius: 1rem;
    padding: 1.5rem;
}

.container{
    margin: 0 7%;
    
}

.nav-brand{
    color: white;
    font-weight: bold;
}

.nav-items{
    color: white;
    padding: -1rem;  
    text-align: right;
}


.nav-items .active{
    font-weight: bold;
}

/* header Section */

.header{
    padding: 2rem;
    padding-top: 5rem;
}

.header img{
    max-width: 80%;
    width: 550px;
    display: block;
    margin: auto;
}

.header .header-heading{
    text-align: center;
    color: var(--dark-gray);
    margin: 2rem;
}

.header .header-heading span{
    color: var(--primary-color);
}

/* Section common CSS*/
.section-container{
    padding: 1rem;    
    border-radius: 1rem;
    margin: 0 7%;
}

.grey-back{
    background-color: var(--off-white);
}

.section-header{
    text-align: center;
    margin: 1rem 0;
}

.section-cont{
    text-align: center;
}



/** links **/
.link {
    text-decoration: none;
    padding: 0.8rem 1.5rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 1.3rem;
    color: white;
    display: block;
    max-width: 149px;
    margin: 1rem auto;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 1.3rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 149px;
    margin: 1rem auto;
}

/* Footer  */

.footer{
    background-color: var(--primary-color);
    border-top-right-radius: 1rem;
    padding: 1.5rem;
    margin-top: 2rem;
}

.footer-header{
    text-align: center;
    color: white;
    margin: 2rem;
}


.social-links{
    text-align: center;
}



/* Project Page CSS  */

.project-container .date{
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}

.buttons{
    display: flex;
    justify-content: center;
}

.buttons a{
    margin: inherit;
    margin: 1rem;
}

.project-container{
    padding: 1rem;    
    border-radius: 1rem;
    margin: 0 7%;
}

/* blog css  */